<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name='description' content=''>
<meta name='keywords' content=''>
<meta name='author' content='Upside Down'>
<title>Upside Down</title>
<link href='css/style_general.css' rel='stylesheet' type='text/css' media="screen"/>
<link href='css/style.css' rel='stylesheet' type='text/css' media="screen"/>
<script type="text/javascript" src="scripts/jquery.js"></script>
<!--[if lt IE 9]>
    <script src="../scripts/html5shiv.js"></script>
    <script src="../scripts/html5shiv-printshiv.js"></script>
<![endif]-->
</head>

<body>
	
    <!--HEADER-->
    <header>
      <div class='wrapper'>
         <section>
            <ul>
              <li><a href='#'>CONTÁCTENOS</a></li>
              <li><a href='#'>BLOG</a></li>
            </ul>
         </section>
         <nav>
           <ul>
                 <li><a href='index.html'>INICIO</a></li>
                 <li><a href='upsidedown.html'>UPSIDEDOWN</a></li>
                 <li><a href='#'>EL 2065</a></li>
                 <li><a href='#'>DESAFÍOS</a></li>
                 <li><a href='laboratorio.html'>LABS</a></li>
                 <li><a href='academia.html'>ACADEMIA</a></li>
                 <li><a class='active'>EMPRESA</a></li>
               </ul>
         </nav> 
          <a href='index.html'><div></div></a>
       </div>
    </header>
    
    <!--ASIDE SOCIAL-->
    <aside>
      <ul>
        <li><a href='http://www.facebook.com' id='social_icon_fac'></a></li>
        <li><a href='' id='social_icon_twi'></a></li>
        <li><a href='' id='social_icon_vim'></a></li>
        <li><a href='' id='social_icon_lin'></a></li>
        <li><a href='' id='social_icon_mai'></a></li>
      </ul>
    </aside>
         
     <!--STAGE-->
     <div id='stage_interno' class='stage_empresa'> 
     </div>

     
     <!--CONTENT-->
     <div id='content_in'>
     
     	<!--SECTION_HORIZONTALBAR-->
           <section id='horizontal_bar'>
             <div class='wrapper'> 
               <h1>Somos pensadores <span style='color:#ff6f00'>estratégicos</span> dispuestos a<br>cambiar la historia curabitur posuere urna eros</h1>
              </div>
            </section>
       
       <!--2SECTION_CONTENT_EMPRESA-->
       <section id='content_empresa'>
       	<div class='wrapper'>
       		<div>
            	<h1>Empresa</h1>
                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla enim ante, facilisis tincidunt pulvinar gravida, elementum quis augue. Nulla enim ante, facilisis tincidunt pulvinar gravida, elementum quis augue. Donec pulvinar, libero vel molestie mollis, leo risus convallis eros. </p>
            	<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla enim ante, facilisis tincidunt pulvinar gravida, elementum quis augue. Nulla enim ante, facilisis tincidunt pulvinar gravida, elementum quis augue. Donec pulvinar, libero vel molestie mollis, leo risus convallis eros. </p>
                <div class='metodologia01'></div>
            </div>
            <div>
            	<h1>Metodología 2</h1>
                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla enim ante, facilisis tincidunt pulvinar gravida, elementum quis augue. Nulla enim ante, facilisis tincidunt pulvinar gravida, elementum quis augue. Donec pulvinar, libero vel molestie mollis, leo risus convallis eros. </p>
            	<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla enim ante, facilisis tincidunt pulvinar gravida, elementum quis augue. Nulla enim ante, facilisis tincidunt pulvinar gravida, elementum quis augue. Donec pulvinar, libero vel molestie mollis, leo risus convallis eros. </p>
                <div class='metodologia02'></div>
            </div>
            
       </div>     
       </section>  
     </div>
     
     <!--FOOTER-->
     <footer>
       	<section>
         	<div class='wrapper'> <img src="images/layout/social_twi3.png"><p>Actualizaciones de twitter: Etiam dapibus turpis magna, id dapibus libero mollis non.</p></div>
       	</section>
       	<section>
         	<div class='wrapper'>
              <ul>
                <li><a href='upsidedown.html'>UPSIDEDOWN</a></li>
                <li><a href='nuestro_método.html'>NUESTRO MÉTODO</a></li>
                <li><a href='upsidedown.html#the_team'>NUESTRO EQUIPO</a></li>
                <li><a href='empresa.html'>EMPRESA</a></li> 
                <li><a href='upsidedown.html#aliados'>ALIADOS</a></li>  
              </ul>
              <ul>
              	<li><a href='laboratorio.html'>LABS</a></li>
                <li><a href='#'>REVISTA VIRTUAL <br>2065</a></li>
                <li><a href='#'>DESAFÍOS</a></li>             
              </ul>
              <ul>
              	<li><a href='academia.html'>ACADEMIA</a></li>                 
                <li><a href='recursos.html'>RECURSOS</a></li>
                <li><a href='inspiracion.html'>INSPIRACIÓN</a></li>
                <li><a href='#'>NUESTRO BLOG</a></li>                    
              </ul>
            </div>
       	</section>
       	<section>
         	<div class='wrapper'> <p class='rights_reserved'>@ Todos los derechos reservados UpsideDown 2013</p></div>
       	</section>
        <div id='footer_panel'>
                <div id='footertwibt'> <a href=''>SÍGUENOS EN TWITTER</a></div>
            	<div id='ads'> <p>Av 39 A #14-57.<br> Donec ipsum nulla <br> Bogota, Colombia</p>
                <p> (+57) 8035678 - 8035678</p>
                <p> Hugo-Gonzalez@javeriana.edu.co</p>
                </div>
            	<div id='footer_icons'>
                  <ul>
                   <li><a href=''> <img src="images/layout/social_fac.png"></a></li>
                   <li><a href=''> <img src="images/layout/social_twi.png"></a></li>
                   <li><a href=''> <img src="images/layout/social_vim.png"></a></li>
                   <li><a href=''> <img src="images/layout/social_lin.png"></a></li>
                   <li><a href=''> <img src="images/layout/social_mai.png"></a></li>
                  </ul>
                </div>
         </div>
     </footer>
     
</body>
</html>
